body {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
}

h3 {
    margin: 0;
}

#main-logo {
    width: 250px;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;

}

.links {
    display: flex;
    gap: 8px;
}